@{
    ViewBag.Title = "ColorSchema";
}

<h2>Color Schema</h2>

<div style="width:100%">
    <p>Color pallete witch should be used in the web site.</p>
    <p>Method used: Analogous</p>
    <div style="height:100px; background-color:#ffffff; border:1px solid #000000">
        <h2>Lighter</h2>    
    </div>
    <div style="height:100px; background-color:#D8D8D8; border:1px solid #000000">
        <h2>Light</h2>
    </div>
    <div style="height:100px; background-color:#696969; border:1px solid #000000">
        <h2>Base Color</h>2
    </div>
    <div style="height:100px; background-color:#33261a; border:1px solid #000000">
        <h2 style="color:#ffffff">Dark</h2>
    </div>
    <div style="height:100px; background-color:#000000; border:1px solid #000000">
        <h2 style="color:#ffffff">Darker</h2>
    </div>
</div>