@using _30Fans.Resources.Home
@{
    ViewBag.Title = ComingSoon.Title;
}

<h1 class="stylizedH1">@ComingSoon.Announcement</h1>
<div style="width:100%;text-align:center">
    <img src="../../Content/images/under_construction.jpg" />
</div>

