@{
    ViewBag.Title = Resources.ThankYou.Title;
}

<div class="wrapper-grey">
    <h2 class="stylizedH1">Parabéns! Bem-vindo à 30 Fans!</h2>
    <p class="highlighted-text">Sua compra foi bem sucedida. O próximo passo é enviar sua foto para: <strong><a href="mailto:30fans@gmail.com" target="_top">30fans@gmail.com</a></strong></p>
    <p>Lembre-se, você pode colocar um nome e/ou um breve comentário em sua foto - adicioná-lo ao e-mail se você não incluí-lo no caixa.</p>
    <div class="box">
        <p>Lembre-se, eu sou apenas uma pessoa criando este site, tendo um monte de diversão e adicionando algo especial na sua vida. Então, quanto tempo leva para carregar a sua foto depende:</p>
        <ol class="leftAlign">
            <li>Quantas fotos acabou de entrar na minha caixa de entrada</li>
            <li>Se eu estou comendo/dormindo/tomando banho [todos os sábados!]</li>
            <li>Sua foto estará aqui para sempre - então alguns minutos ou algumas horas, mantê-lo em perspectiva e apreciar a sua sorte em conseguir o 30!</li>
        </ol>
    </div>
    <p>Parabéns! Bem-vindo à <a href="/Home/Index">30 Fans</a>!</p>
</div>
<div class="wrapper-white">
    <h2 class="stylizedH1">Congratulations! Welcome to 30 Fans!</h2>
    <p class="highlighted-text">Your purchase is successful. The next step is to email your foto to: <strong><a href="mailto:30fans@gmail.com" target="_top">30fans@gmail.com</a></strong></p>
    <p>Remember, you may place a name and/or a short comment under your foto - add it to the email if you did not include it at the checkout.</p>
    <div class="box">
        <p>Remember, I am just ONE person creating this site, having a lot of fun AND adding something special to YOUR life. So, how long it takes to upload your foto depends on:</p>
        <ol class="leftAlign">
            <li>How many just popped into my Inbox</li>
            <li>Am I eating/sleeping/having a bath [every Saturday!]</li>
            <li>Your foto is here FOREVER - so a few minutes or a few hours, keep it in perspective and just enjoy your luck at making the 30!</li>
        </ol>
    </div>
    <p>Congratulations! Welcome to <a href="/Home/Index">30 Fans</a>!</p>
</div>
<div class="wrapper-other">
    <h2 class="stylizedH1">¡Enhorabuena! Bienvenido a 30 Fans!</h2>
    <p class="highlighted-text">La compra se realiza correctamente. El siguiente paso es enviar su foto para: <strong><a href="mailto:30fans@gmail.com" target="_top">30fans@gmail.com</a></strong></p>
    <p>Recuerde, usted puede poner un nombre y/o un breve comentario debajo fotos - añadirlo de correo electrónico si no lo incluye en la caja.</p>
    <div class="box">
        <p>Recuerda, yo soy sólo una persona la creación de este sitio, que tiene un montón de diversión y adición algo especial a tu vida. Así que, cuánto tiempo se tarda en cargar su foto depende de:</p>
        <ol class="leftAlign">
            <li>Cuántas fotos acaba de entrar en mi bandeja de entrada</li>
            <li>¿Estoy comiendo/durmiendo/que tiene un baño [todos los sábados!]</li>
            <li>Su foto es para siempre - lo que unos pocos minutos o unas pocas horas, lo mantienen en perspectiva y apreciar su suerte en la toma de los 30!</li>
        </ol>
    </div>
    <p>¡Enhorabuena! Bienvenido a <a href="/Home/Index">30 Fans</a>!</p>
</div>