@model IList<Domain.Product>

<h1 class="stylizedH1">@ViewBag.Title</h1>
<table class="CategoryList">

@{ 
    int numCols = 4;
    int colsCount = 0;
}

@foreach (var item in Model) {
    var imageUrl = item.ImageUrl;
    var urlItem = "/Product/SlideShow/" + @item.Id;
    if ((colsCount % numCols) == 0) {
        @:<tr>
    }
        <td>
            <a href="@urlItem">
                <img alt="" src="@imageUrl" />
            </a>
        </td>

    colsCount++;
    if (colsCount == numCols){
        @:</tr>
        colsCount = 0;
    }    
}

</table>

