@model Domain.Category

@{
    ViewBag.Title = "UploadImage";
}

<h2>Upload image for @Model.CategoryName</h2>

@using (Html.BeginForm("UploadImage", "Category", FormMethod.Post, new { enctype = "multipart/form-data" })) { 
    <input type="hidden" id='hiddenId' name='id' value="@Model.Id"/>
    <p>Type here the items image folder name. Example: Category: Football, items folder:Football </p> 
    <input type="text" id='txtChildImageFolderName' name='imageFolderName' /><br />
    <input type="file" name="file" /><br />
    <p>
        <input type="submit" value="Upload!" />  
        @Html.ActionLink("Back to List", "Index", "Admin")
    </p>
}