@model IList<domain.product>

    @if (Model != null && Model.Count() > 0)
    {
        <h3><strong>Niiiice.</strong> We found these teams:</h3>
    }

    @foreach (Domain.Product item in Model)
    {

        <ol>
            <li>
                <a href="@Url.Content("~/Football/Index/"+item.Id)" title="@item.ProductName">
                    <article>
                        <figure>
                            <img width="64" height="64" src="@Url.Content(item.ImageUrl)" alt="">
                        </figure>
                        <header>
                            <h2 class="title-team">
                                @item.ProductName
                            </h2>
                        </header>
                    </article>
                </a>
            </li>
        </ol>


    }
