@model IList<domain.product>
    @{
        ViewBag.Title = Model.CategoryName;
        Layout = "~/Views/Shared/_30fans.cshtml";
    }
    <article class="hero">
        <figure class="cover" style="background-image:url('img/bg_soccer_westcoast_eagles.jpg');"></figure>
        <div class="entry-content">
            <figure id="team-brand"><img src="img/teams/team-westcoast-eagles.png" alt="Brand West Coast Eagles"></figure>

            <header>
                <h1 class="hidden-text title-main">
                    West Coast Eagles
                </h1>
            </header>

            <aside class="team-year">
                <ol>
                    <li class="current active"><a href="javascript:void(0);">2014</a></li>
                    <li><a href="javascript:void(0);">2013</a></li>
                    <li><a href="javascript:void(0);">2012</a></li>
                    <li><a href="javascript:void(0);">2011</a></li>
                    <li><a href="javascript:void(0);">2010</a></li>
                </ol>
            </aside>
        </div>
    </article>

    <article class="post">
        <section class="list-fans">
            <i class="shelf s1"></i><i class="shelf s2"></i><i class="shelf s3"></i><i class="shelf s4"></i><i class="shelf s5"></i>
            <ol>
                <li>
                    <a href="#">
                        <em><span>#</span> 01</em>
                        <figure class="avatar">
                            <img src="img/avatars/user-01.jpg" alt="Pedro">
                            <figcaption><strong>Pedro Cavalcanti</strong> - Brazil</figcaption>
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <em><span>#</span> 02</em>
                        <figure class="avatar">
                            <img src="img/avatars/user-02.jpg" alt="Alvaro">
                            <figcaption><strong>Alvaro Dinis</strong> - Australia</figcaption>
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <em><span>#</span> 03</em>
                        <figure class="avatar">
                            <img src="img/avatars/user-03.jpg" alt="Daniel">
                            <figcaption><strong>Daniel Watchs</strong> - New Zealand</figcaption>
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <em><span>#</span> 04</em>
                        <figure class="avatar">
                            <img src="img/avatars/user-04.jpg" alt="George">
                            <figcaption><strong>George Brigz</strong> - Japan</figcaption>
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <em><span>#</span> 05</em>
                        <figure class="avatar">
                            <img src="img/avatars/user-05.jpg" alt="Robert">
                            <figcaption><strong>Robert Sprint</strong> - United States of America</figcaption>
                        </figure>
                    </a>
                </li>
                <li class="b-call-paypal">
                    <a href="#">
                        <em><span>#</span> 06</em>
                        <img src="img/winner-brighter.png">
                        <figure class="avatar">
                            <figcaption><span class="txt-1">You.</span> <span class="txt-2">Unique.</span> <span class="txt-3">Forever!</span></figcaption>
                        </figure>
                    </a>
                </li>
                <li>
                    <figure class="no-fan">
                        <img src="img/logo-30fans-small.png" alt="">
                    </figure>
                </li>
                <li>
                    <figure class="no-fan">
                        <img src="img/logo-30fans-small.png" alt="">
                    </figure>
                </li>
                <li>
                    <figure class="no-fan">
                        <img src="img/logo-30fans-small.png" alt="">
                    </figure>
                </li>
                <li>
                    <figure class="no-fan">
                        <img src="img/logo-30fans-small.png" alt="">
                    </figure>
                </li>
                <li>
                    <figure class="no-fan">
                        <img src="img/logo-30fans-small.png" alt="">
                    </figure>
                </li>
                <li>
                    <figure class="no-fan">
                        <img src="img/logo-30fans-small.png" alt="">
                    </figure>
                </li>
                <li>
                    <figure class="no-fan">
                        <img src="img/logo-30fans-small.png" alt="">
                    </figure>
                </li>
                <li>
                    <figure class="no-fan">
                        <img src="img/logo-30fans-small.png" alt="">
                    </figure>
                </li>
                <li>
                    <figure class="no-fan">
                        <img src="img/logo-30fans-small.png" alt="">
                    </figure>
                </li>
                <li>
                    <figure class="no-fan">
                        <img src="img/logo-30fans-small.png" alt="">
                    </figure>
                </li>
                <li>
                    <figure class="no-fan">
                        <img src="img/logo-30fans-small.png" alt="">
                    </figure>
                </li>
                <li>
                    <figure class="no-fan">
                        <img src="img/logo-30fans-small.png" alt="">
                    </figure>
                </li>
                <li>
                    <figure class="no-fan">
                        <img src="img/logo-30fans-small.png" alt="">
                    </figure>
                </li>
                <li>
                    <figure class="no-fan">
                        <img src="img/logo-30fans-small.png" alt="">
                    </figure>
                </li>
                <li>
                    <figure class="no-fan">
                        <img src="img/logo-30fans-small.png" alt="">
                    </figure>
                </li>
                <li>
                    <figure class="no-fan">
                        <img src="img/logo-30fans-small.png" alt="">
                    </figure>
                </li>
                <li>
                    <figure class="no-fan">
                        <img src="img/logo-30fans-small.png" alt="">
                    </figure>
                </li>
                <li>
                    <figure class="no-fan">
                        <img src="img/logo-30fans-small.png" alt="">
                    </figure>
                </li>
                <li>
                    <figure class="no-fan">
                        <img src="img/logo-30fans-small.png" alt="">
                    </figure>
                </li>
                <li>
                    <figure class="no-fan">
                        <img src="img/logo-30fans-small.png" alt="">
                    </figure>
                </li>
                <li>
                    <figure class="no-fan">
                        <img src="img/logo-30fans-small.png" alt="">
                    </figure>
                </li>
                <li>
                    <figure class="no-fan">
                        <img src="img/logo-30fans-small.png" alt="">
                    </figure>
                </li>
                <li>
                    <figure class="no-fan">
                        <img src="img/logo-30fans-small.png" alt="">
                    </figure>
                </li>
                <li>
                    <figure class="no-fan">
                        <img src="img/logo-30fans-small.png" alt="">
                    </figure>
                </li>
            </ol>
        </section>
    </article>
