@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "home";
    
}

<article class="hero total-window-height">
    <figure class="cover" style="background-image: url('@Url.Content("~/Images/Style/bg_soccer_default.jpg")');"></figure>
    <div class="entry-content">
        <header>
            <h1 class="title-main">You have the opportunity to be unique, special. <strong>Forever</strong>.</h1>
        </header>

        <form method="get" action="/" class="f-favoriteTeam">
            <fieldset>
                <input type="text" class="in-hero" id="teamSearch" autocomplete="off" name="teamSearch" placeholder="Type your team">
                <aside id="search-result"></aside>
                <img id="loading" style="display:none" src="@Url.Content("~/Images/Style/loading.gif")">
                <button type="reset" title="Type again" class="in-reset"><span>Type again</span></button>
            </fieldset>
        </form>

    </div>
</article>


<div class="modal fade" id="modalAddTeam" aria-hidden="true" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <header class="modal-header">
                <div class="modal-title">
                    <h3>Add your team</h3>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </header>

            <div class="modal-body">
                <div class="form-group">
                    <div>
                        <h2>Add your team</h2>

                        <p>Send us an email with your the name of your team - you will be the first fan ! </p>
                        <p>30fans@gmail.com</p>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button id="cancelar" class="btn" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>