@{

    Layout = "~/Views/Shared/_Layout.cshtml";


    ViewBag.Title = "Thank you";
}

<article class="hero total-window-height">
    <figure class="cover" style="background-image: url('@Url.Content("~/Images/Style/bg_soccer_default.jpg")');"></figure>
    <div class="entry-content">
        <header>
            <h1 class="title-main">You have the opportunity to be unique, special. <strong>Forever</strong>.</h1>
        </header>

        <form method="get" action="/" class="f-favoriteTeam">
            <fieldset>

                <div class="thankyou">
                    <h2 class="stylizedH1">Parabéns! Bem-vindo à 30 Fans!</h2>
                                       <p>Sua compra foi bem sucedida. O próximo passo é enviar  sua foto para:
30fans@gmail.com</p>
                </div>
                <div class="thankyou">
                    <h2 class="stylizedH1">Congratulations! Welcome to 30 Fans!</h2>
                    <p>Your purchase is successful. Your next step is to email your photo to:
30fans@gmail.com</p>
                </div>
                <div class="thankyou">
                    <h2 class="stylizedH1">¡Felicitaciones! Bienvenido a 30 Fans! !</h2>
                    <p>La compra se realiza correctamente. El próximo paso es enviar  su foto para:
30fans@gmail.com</p>
                </div>

                </fieldset>
            </form>
    </div>
</article>


