Eu esqueci o seu time?<br />
Deixe-me saber!<br />
<a href="mailp.php">Email</a><br />
e eu vou adicionar o seu time!<br />
<hr />
.<br />
Sua foto ainda não aparaceu?<br />
Fique tranquilo, sua fama está segura em minhas mãos. Mas como eu só tenho duas delas, por favor, seja paciente!<br />
Lembre-se: você ficará orgulhoso para sempre com a sua foto aqui!<br />
30 Fans!