@{
    ViewBag.Title = Resources.ComingSoon.Title;
}

<h1 class="stylizedH1">@Resources.ComingSoon.Announcement</h1>
<div style="width:100%;text-align:center">
    <img src="../../Styles/images/under_construction.jpg" />
</div>

