@{
    Layout = "~/Views/Shared/_30fans.cshtml";
    ViewBag.BodyClass = "home loaded";
}

  <article class="hero total-window-height">
    <figure class="cover" style="background-image: url('@Url.Content("~/Content/30fans/img/bg_soccer_default.jpg")');"></figure>
    <div class="entry-content">
        <header>
            <h1 class="title-main">You have the opportunity to be unique, special. <strong>Forever</strong>.</h1>
        </header>

        <form method="get" action="team.html" class="f-favoriteTeam">
            <fieldset>
                <input type="text" class="in-hero" id="teamSearch" name="teamSearch" autocomplete="off" placeholder="Type the best team of the world">
                <div id="search-result">
                </div>
                <button type="reset" title="Type again" class="in-reset"><span>Type again</span></button>
                <button class="btn primary big">I want too be special!</button>
            </fieldset>
        </form>

    </div>
</article>
